<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Subject">Gegevens van {name} voor website {websitename}</f:section>
<p>Beste {name},</p><p>Bedankt voor je aanmelding bij het interne deel van de website van {websitename}.</p><p>
<h4>Je gegevens voor aanloggen zijn:</h4>
<table>
	<tr>
		<td style="padding-bottom:10px; margin-bottom:10px;font-weight: bold;font-style: italic;" >Gebruikersnaam:&nbsp;</td><td style="padding-bottom:10px; margin-bottom:10px;">&nbsp;{username}</td>
	</tr>
	<tr>
		<td style="vertical-align: top;;font-weight: bold;font-style: italic;">Tijdelijk wachtwoord:&nbsp;</td><td>&nbsp;{temporarypasword}<br>(<b>kopieer</b> dit en <b>plak</b> het in het inlogscherm)</td>
	</tr>
</table>
<p>Ga naar <a href="{pagemylogin}">{websitename}</a> om in te loggen met je gebruikersnaam en tijdelijke wachtwoord.
</br>Doe dit voor {timetemp} uur!
</p>
<p><br>Met vriendelijke groet,<br>Webmaster {websitename}</p>
</html>