<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:flashMessages/>
	<script src="{f:uri.resource(path:'JavaScript/jquery.passtrength.js')}"></script>
	<link rel="stylesheet" href="{f:uri.resource(path:'Css/passtrength.css')}" media="screen" title="no title" type="text/css">
	<script type="text/javascript">
	$ = jQuery.noConflict();
	var passwordduration={passwordduration};
	var passwordupdatetime={passwordupdatetime};
	var temppass="<f:translate id="login.temporary" /> <f:translate id="login.password" />:";
	var currentpass="<f:translate id="login.current" /> <f:translate id="login.password" />:";
	var passtext="<f:translate id="login.password" />:";
	var msgreden= ['<f:translate id="login.reden1" />',
	'<f:translate id="login.reden2" />',
	'<f:translate id="login.reden3" />',
	'<f:translate id="login.reden4" />'];

	function prepareResponse() {	//
		user=$.trim($("#user").val()).toLowerCase();
		if (!user) { alert("{f:translate(key:'login.usererror')}!");return false;}
		$("#username").val(user);
		password = $.trim($("#pass").val());
		wwreden=$("#wwreden").val();
		//alert("wwreden:"+wwreden);
        lowerCase    = new RegExp("[a-z]");
        upperCase    = new RegExp("[A-Z]");
		numbers      = new RegExp("[0-9]");
		if (password.length <1)	
		{ 
			if (wwreden<1)
			{
				alert("{f:translate(key:'login.loginerror')}!");
				return false;
			}
			else
			{
				if (wwreden<2)alert("{f:translate(key:'changepass.loginerror')}!");
				else alert("{f:translate(key:'changepass.currenterror')}!");
		 		return false;
			}
		}
		if (wwreden<1 && password.length >=8 && password.match(upperCase) && password.match(lowerCase) && password.match(numbers)) $("#percentage").val(80); 
		//alert("percentage: "+$("#percentage").val());

		if ($("#googleAuthenticator").is(":visible"))
		{
			//alert("googleAuthenticator visible"); 
			authcode=$.trim($("#googlepass").val());
			if (authcode.length==0){ return false;}
			if ($("#WachtwoordNw1").is(":visible"))
			{
				WachtwoordNw1=$.trim($("#WachtwoordNw1").val());
				if (WachtwoordNw1.length==0) return false;
			}			
			if (authcode.length!==6 ){ alert("{f:translate(key:'login.googlecode')}!");return false;}
			$("#googlepass").val(authcode);
		}
		if (wwreden>0)
		{
			WachtwoordNw1=$.trim($("#WachtwoordNw1").val());
			WachtwoordNw2=$.trim($("#WachtwoordNw2").val());
			//alert("WachtwoordNw1: "+WachtwoordNw1);
			$("#WachtwoordNw1").val(WachtwoordNw1);
			$("#WachtwoordNw2").val(WachtwoordNw2);
			if (WachtwoordNw1.length==0){alert("{f:translate(key:'changepass.nwpasserror')}!");return false;}
			if(WachtwoordNw1!=WachtwoordNw2){alert("{f:translate(key:'changepass.neqpasserror')}");return false;};
			if ($("#WachtwoordNw1").attr('percentage') <75){alert("{f:translate(key:'changepass.pwweak')}");return false;};
			//pubkey="03000100014dde3be117a2be230befb0aac81ce471";
			$("#NwPassword").val(WachtwoordNw1);
			//alert("NwPassword: "+$("#NwPassword").val());
		}
		$("#login").attr('disabled','disabled');		
		return true;
	}
//	var msgreden1='<f:translate id="login.reden1" />';
//	$("#user").change(function(){
	function checkuser(val)
	{
		username=val;
		$("#login").attr('disabled','disabled');
		//alert("usename;"+username);	
		$.ajax({
			url: "index.php?eID=getstatusaccount",
			data: {
				"username": username,
				"passwordduration": passwordduration,
				"passwordupdatetime": passwordupdatetime,
			},
			dataType: "json",
			type: "POST",
			success: function (data) {
				//alert("data:"+data["authenabled"]+"; firstuse:"+data["firstuse"]);
				//if (data.length==1)
				{
					gpassw=data["authenabled"];
					wwreden=data["wwreden"];
					//alert("wwreden: "+wwreden);
					if (wwreden>="1")
					{
						$("#uid").val(data["uid"]);
						$("#username").val(data["username"]);
						$("#pass").val("");
					}
					//alert("wwreden:"+wwreden);
					if (gpassw=="1")
					{
						$("#googleAuthenticator").show();
						$("#googlepass").prop("disabled",false);
						$("#2FAwarning").hide();
						$("#twoFA").val(0);
					} else 
					{
						$("#googleAuthenticator").hide();
						$("#googlepass").prop("disabled",true);
						if (gpassw=="2"){
							 $("#2FAwarning").show();
							 $("#twoFA").val(1);
						}
						else {
							$("#2FAwarning").hide();
							$("#twoFA").val(0);
						}
					}
					if (wwreden>="1" || $("#wwreden").val()=="4")
					{
						$(".passwordchange").show();
						$(".passwordchange").prop("disabled", false );						
						if (wwreden==1) $("label[for=pass]").text(temppass); else $("label[for=pass]").text(currentpass);
						if ( $("#wwreden").val()<4)$("#wwreden").val(wwreden);else wwreden=4;
						$("#msgreden").text(msgreden[wwreden-1]);
						$("form").attr('autocomplete', 'off');
					}
					else
					{
						$(".passwordchange").hide();
						$(".passwordchange").prop("disabled", true );						
						$("label[for=pass]").text(passtext); 
						$("#wwreden").val(0);
						$("form").attr('autocomplete', 'on');
					}
					$("#login").removeAttr('disabled');
				}
				//$("#googleAuthenticator").html(gpassw);
				//alert("Error success: taken:" + taken+"; status:"+result["status"]+"; result:"+result);
			},
			error: function (data, textStatus, jqXHR) {
	            alert("Error failure: " + jqXHR.status + ": " + jqXHR.statusText+"; text:"+textStatus);
			},
		});
	};

	</script>
	<f:if condition="{error}">
		<div class="alert alert-primary" role="alert">
	        <f:render partial="RenderErrorMessage" arguments="{myerror: error}"/>
		</div>
	</f:if>
	<div class="alert alert-info" style="display:none" id="2FAwarning" role="alert">
		<f:format.raw><f:translate id="login.2FAmessage" /></f:format.raw>
	</div>
	<div>
			<div>
				<f:form action="register">
					<f:form.button class="btn btn-info mt-2 mb-3"><f:translate id="login.registratemessage"/></f:form.button>
				</f:form>
			</div>
	<p><f:translate id="login.loginmessage"/>:</p>
			<f:form name="form1"  action="login" fieldNamePrefix="" requestToken="{requestToken}" additionalAttributes="{spellcheck: 'false'}"  onsubmit="return prepareResponse();">
				<f:form.hidden id="statelogin" name="statelogin" value="{statelogin}" />
				<f:form.hidden name="errorcount" value="{errorcount}" />
				<f:form.hidden name="username" id="username" value="{username}" />
				<f:form.hidden name="percentage" id="percentage"  />
				<f:form.hidden name="NwPassword" id="NwPassword" value="" />
				<f:form.hidden name="wwreden" id="wwreden" value="{wwreden}" />
				<f:form.hidden name="twoFA" id="twoFA" value="0" />
				<f:form.hidden name="uid" id="uid" value="{uid}" />
				<input type="hidden" name="logintype" id="logintype" value="login" />
			<div class="row">
				<div class="col-md-2"> 
				<label for="username" class="font-weight-bold col-form-label"><f:translate id="login.username" />:</label>
				</div>
				<div class="col-md-3">
	                <f:form.textfield name="user" required="true" class="form-control" additionalAttributes="{autocomplete: 'username'}" id="user"  onchange="checkuser(this.value)"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"> 
				<label for="pass" class="font-weight-bold col-form-label"><f:translate id="login.password" />:</label>
				</div>
				<div class="col-md-3">
					<input class="form-control" type="password" id="pass" name="pass" value=""  required  />
				</div>
			</div>
			<div class="passwordchange" style="display:none">
				<div id="msgreden" class="mt-1 mb-0"></div>
				<div class="form-group row">
					<label for="WachtwoordNw1" class="col-md-2 col-form-label font-weight-bold">{f:translate(key:'login.nwwachtwoord')}:</label>
					<div class="col-md-3">
						<f:form.password class="form-control passwordchange" name="WachtwoordNw1" id="WachtwoordNw1" additionalAttributes="{required: 'true'}" />
					</div>
	   				 <div class="col-md-2 alert-primary p-1"><f:translate id="login.remember"/>!</div>
				</div>
				<div class="form-group row">
					<label for="WachtwoordNw2" class="col-md-2 col-form-label font-weight-bold">{f:translate(key:'login.herhaal')}:</label>
					<div class="col-md-3">
						<f:form.password class="form-control passwordchange" name="WachtwoordNw2" id="WachtwoordNw2" additionalAttributes="{required: 'true'}" />
					</div>
				</div>			
			</div>
			<div class="row" style="display:none" id="googleAuthenticator">
				<div class="col-md-2"> 
				<label for="googlepass" class="font-weight-bold col-form-label"><f:translate key="login.googlepass" />:</label>
				</div>
				<div class="col-md-3">
					<f:form.textfield disabled="true" id="googlepass" placeholder='{f:translate(key:"login.googlepassplace")}' name="googlepass" class="form-control" required="true" value="" title='{f:translate(key:"login.googlepasshelp")}'  />
				</div>			
			</div>
			<f:if condition="{blockedupto}==''">
				<div class="btn-toolbar mt-2 offset-md-2">
					<f:form.submit id="login" value="{f:translate(key: 'login')}" class="btn btn-primary" />
				</div>
			</f:if>
			</f:form>
			<script>document.getElementById("user").focus()</script>
	</div>
	<script type="text/javascript">
   	$(document).ready(function($) {
       	$('#pass').passtrength({
          	passwordToggle: true,
         	tooltip: false,
			bar: false,
       	});
       	$('#WachtwoordNw1').passtrength({
          	passwordToggle: true,
          	tooltip: true,
			textWeak:"<f:translate id='changepass.textWeak' />",
			textMedium:"<f:translate id='changepass.textMedium' />",
			textStrong:"<f:translate id='changepass.textStrong' />",
			textVeryStrong:"<f:translate id='changepass.textVeryStrong' />",
			textChar:"<f:translate id='changepass.textChar' />",
       	});
       	$('#WachtwoordNw2').passtrength({
          	passwordToggle: true,
         		tooltip: false,
			bar: false,
       	});
		wwreden=$("#wwreden").val()
		$("#user").trigger("change");
	});
   </script> 
</html>
	

