<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:flashMessages/>
	<script type="text/javascript">
	$ = jQuery.noConflict();
	function controleOpslaan() {
		// Eerst spaties wegtrimmen:
		voornaam=$.trim($("#voornaam").val());
		achternaam=$.trim($("#achternaam").val());
		username=$.trim($("#username").val());
		geboortedatum=$.trim($("#geboortedatum").val());
		$("#voornaam").val(voornaam);
		$("#achternaam").val(achternaam);
		$("#username").val(username);
		if (!voornaam || voornaam.length<2)
		{	alert("{f:translate(key:'login.firstnameerror')}");
			return false;
		}
		if (!achternaam || achternaam.length<3)
		{	alert("{f:translate(key:'login.lastnameerror')}");
			return false;
		}

		if (geboortedatum.length<9 || geboortedatum=="00-00-0000" || !IsDatum(geboortedatum))
		{	alert("{f:translate(key:'login.birtsdateerror')}");
			return false;
		} 
		if (!username) { alert("{f:translate(key:'login.usererror')}!");return false;}
		if (!$("#voorwaarde").prop('checked'))
		{
			alert("{f:translate(key:'login.conditionerror')}!"); return false;
		}
//		$("#registerbody").hide();
		$("#bewaren").attr('disabled','disabled');
		return true;
	}
	</script>
	<div class="registrateAccount-form">
		<h5 ><f:translate key="registrate.heading"/></h5>
		<f:if condition="{error}">
			<div class="alert alert-primary" role="alert">
		        <f:render partial="RenderErrorMessage" arguments="{myerror: error}"/>
			</div>
		</f:if>
		<f:if condition="{statelogin}!='finished'">
		<f:then>
		<div id="registerbody">
			<div>
			<p><f:translate key="registrate.intro"/>:</p>
			</div>
			<f:form name="account"  action="saveaccount" object="{account}" onsubmit="return controleOpslaan();">
			<div class="row">
				<div class="col-md-2"> 
				<label for="voornaam" class="font-weight-bold"><f:translate key="login.voornaam" />:</label>
				</div>
				<div class="col-md-4">
					<f:form.textfield class="form-control" property="voornaam" id="voornaam" maxlength="50" required="true" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"> 
				<label for="achternaam" class="font-weight-bold"><f:translate key="login.achternaam" />:</label>
				</div>
				<div class="col-md-4">
					<f:form.textfield class="form-control" property="achternaam" id="achternaam" maxlength="50" required="true" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"> 
				<label for="geboortedatum" class="font-weight-bold"><f:translate key="login.birthdate" />:</label>
				</div>
				<div class="col-md-4">
					<f:form.textfield class="form-control" property="geboortedatum" id="geboortedatum" maxlength="16"  required="true" additionalAttributes="{onchange: 'return(FormatDate(this));'}" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"> 
				<label for="voornaam" class="font-weight-bold"><f:translate key="registrate.username" />:</label>
				</div>
				<div class="col-md-4">
					<f:form.textfield class="form-control" property="username" id="username" maxlength="50" required="true" />
				</div>
			</div>
			<div class="form-group">
			    <div class="form-check">
					<f:form.checkbox id="voorwaarde" class="form-check-input" property="voorwaarde" value="1" checked="{account.voorwaarde}"/>
			    	<label class="form-check-label font-weight-bold" for="voorwaarde"><f:translate key="login.agree"/> <f:link.typolink parameter="{pagecondition}" class="internal-link" target="_blank"><f:translate key="login.conditions"/></f:link.typolink></label>
			    </div>
			</div>
			<div class="btn-toolbar mt-5">
				<f:form.submit  value="{f:translate(key: 'login.save')}" id="bewaren" class="btn btn-primary" />
			</div>
			</f:form>
		</div>
	</f:then>
	</f:if>
</div>
</html>
	

