<html xmlns="http://www.w3.org/1999/xhtml" lang="en" data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:fluid="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers">
<f:form action="register">
<fluid:spaceless><f:format.raw>
    <f:if condition="{myerror.var}">
        <f:then>
			<f:if condition="{myerror.var1}">
				<f:then>
	            <f:translate key="{myerror.key}" arguments="{0: '{myerror.var}',1: '{myerror.var1}'}"/>
				</f:then>
			<f:else>
		        <f:translate key="{myerror.key}" arguments="{0: '{myerror.var}'}"/>
			</f:else>
			</f:if>		
        </f:then>
        <f:else>
            <f:translate key="{myerror.key}"/>
        </f:else>
    </f:if>
	<f:if condition="{myerror.key}=='account.block' || {myerror.key}=='account.expired' || {myerror.key}=='account.tempexpired'">
	<f:then><f:form.button class="btn btn-link-inline text-primary"><f:translate key="account.requestnew"/></f:form.button>
	</f:then>
	</f:if>
</f:format.raw>
</fluid:spaceless>
</f:form>
</html>
