<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:flashMessages/>
	<script src="{f:uri.resource(path:'JavaScript/qrcode.js', extensionName: 'authenticatorfe')}" ></script>

	<div class="two-factor-form">
		<f:form name="form1"  action="enable2FA" >
		
			<div class="form-group">
			    <div class="form-check">
					<f:form.checkbox id="authenticator-enabled" class="form-check-input" name="authenticator-enabled" value="1" checked="{authenticator-enabled}"/>
			    	<label class="form-check-label font-weight-bold" for="authenticator-enabled"><f:translate key="message.2FAenable"/></label>
			    </div>
			</div>
			<div class="btn-toolbar">
				<f:form.submit  value="{f:translate(key: 'login.save')}" class="btn btn-primary" />
			</div>
		</f:form>
		<div>
		 	<f:translate key="message.2FAsecret" />: {tokenKey}
		</div>
		<div class="mt-2" id="qrcode"></div>
		<script type="text/javascript">
			new QRCode(document.getElementById("qrcode"), "{authUrl}");
		</script>

	</div>
</html>
